*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
				background-image: url(https://images.unsplash.com/photo-1707136199665-59b5c6dc3959?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YWxsZXklMjB3YXl8ZW58MHx8MHx8fDA%3D);
				background-size: cover;*/
				background-repeat: no repeat;*/
	body {
    width: 100%;
    height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}


.container {
    width: 80%;
    margin: auto;
}
section {
    width: 80%;
    margin: auto;
{
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    h2 {
    	font-size: 5px;
    }
    h1{
    	font size: 7px;
    }


@media (min-width: 769px) and (max-width: 1200px) {

}